@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Marvel:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');



*{
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
  }
header{
    display: flex;
    justify-content: space-between;
    background-color: #030e33;
    padding: 10px;
    color: #ffffff;
}
.menu-header{
    display: flex;
    height: 50px;
}
.dropdown{
   margin: 10px;
}
#menua{
    margin-top: 26px;
    display: none;
}
#lista, #menu{
    list-style-type: none;
}
#lista{
    margin-top: 20px;
    font-family: 'Josefin Sans', sans-serif;
    position: relative;
}
#menu{
    display: none;
    position: absolute;
    margin: 10px;
    background-color: #000000b6;
    border-radius: 10px;
    width: 150px;
    margin-left: -50px;
    transition: 1s;
}
ul{
    padding: 10px;
}
li > a {
    text-decoration: none;
    color: #ffffff ;
    padding: 0px;
    margin-bottom: 20px;
}
.foto-vinga{
    background-image: url(imagens/vingadores-all.png);
    height: 91vh;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
.legenda{
    font-size: 3vw ;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    line-height: 100px;
    color: #ffffff;
    width: 35%;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 300px;
    margin-left: 30px;
    
}
  
#foto-aranha{
    background-image: url(imagens/aranha.jpg);
    height: 100vh;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: inset 6px 6px 13px 0px black;
}
#legenda-geral{
    font-size: 2vw ;
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 100px;
    margin-left: 100px;
    line-height: 40px;
    color: #ffffff;
}
.descricao{
    font-size: 2vw;
    width: 40%;
    margin-top: 50px;
    text-align: center;
    color: #ffffff;
    background-color: hsla(0, 0%, 0%, 0.478);
}
#foto-starlord{
    background-image: url(imagens/starlord.jpg);
    height: 100vh;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
#legenda-starlord{
    font-size: 2vw ;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 40px;
    width: 40%;
   display: flex;
   flex-wrap: wrap;
   margin-left: 50%;
   padding-top: 200px;
   color: #ffffff;
}
#descricao-star{
    margin-top: 40px;
    text-align: center;
    background-color: hsla(0, 0%, 0%, 0.478);

}
#foto-thor{
    background-image: url(imagens/thor.jpg);
    height: 100vh;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: inset 6px 6px 13px 0px black;
}
#legenda-thor{
    font-size: 2vw ;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 40px;
    width: 40%;
    padding-top: 100px;
    margin-left: 100px;
    color: #ffffff;
}
#descricao-thor{
    margin-top: 100px;
    text-align: center;
    background-color: hsla(0, 0%, 0%, 0.478);
}
.descricao, #descricao-thor, #descricao-star{
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 2px black;
}
footer{
    text-align: center;
    font-family: 'Marvel', sans-serif;
    background-color: #030e33;
    color: #ffffff;
    padding: 10px;
}

@media  ( max-width: 800px) {
    #foto-aranha{
        background-position: right center;
    }
    #foto-starlord{
    background-position:
    left center;
    }
    #legenda-starlord{
        margin-left: 20%;
   padding-top: 100px;
    }
    #foto-thor{
        background-position:
    right center;
    }
    #legenda, #legenda-geral, .descricao, #legenda-starlord, #legenda-thor{
        font-size: 2.2vh;
        width: 300px;
    }
    #legenda{
    margin-top: 300px;
    margin-left: 55px;
    background-color: rgba(0, 0, 0, 0.555);
    border-radius: 10px;
    }
    #legenda-geral{
    padding-top: 100px;
    margin-left: 55px;
    }
    #legenda-starlord{
        margin-left: 55px;
    }
    #legenda-thor{
    padding-top: 100px;
    margin-left: 55px;
    
    }
}
